<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../vendor/autoload.php" colors="true">
    <filter>
        <blacklist>
            <directory suffix=".php">..</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
            file="../vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>

    <logging>
        <log type="coverage-clover" target="../build/coverage-clover.xml"/>
        <log highLowerBound="100" lowUpperBound="99" type="coverage-html" target="../build/code-coverage"/>
    </logging>

    <testsuites>
        <testsuite name="ZendPsrLog">
            <directory>../test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
