language: php

php:
    - 5.3.3
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm

install:
    - composer self-update
    - composer install --dev --no-interaction

script:
    - vendor/bin/phpunit -c test/phpunit.xml
    - php .travis/coverage-checker.php build/coverage-clover.xml 100
    - vendor/bin/phpcs --standard=PSR2 -s -p config/ src/ test/
    - vendor/bin/phpdoc -c phpdoc.xml --force
    - php .travis/phpdoc-checker.php build/phpdoc/checkstyle.xml

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover ./build/coverage-clover.xml

matrix:
    fast_finish: true
    allow_failures:
        - php: hhvm
